<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function showPopup(event) {
            event.preventDefault(); // Prevent the form from being submitted immediately
            alert("Address Updated Successfully!");
            event.target.closest('form').submit(); // Manually submit the form after showing the popup
        }
    </script>
    
<body>
    <h2>Update Address</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <button type="submit">Update</button> -->
    <button type="submit" onclick="showPopup(event)">Update</button>

    <a href="{% url 'view_addresses' %}">Back</a>
</form>

</body>
</html>